<main class="container">
 
  <section class="search" *ngIf="!gUser">
     <h1>Insira seu Username do Github</h1>
    <img src="/assets/github.svg" alt="Github">
    <form action="#" id="search-form" [formGroup]="githubForm" (ngSubmit)="procurar()">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input type="text" matInput placeholder="Ex: frogs123" formControlName="username">
      </mat-form-field>
      <button mat-flat-button color="accent" matTooltip="Procurar Usuário" [disabled]="githubForm.invalid">
        <mat-icon>search</mat-icon>
      </button>
    </form>
  </section>
</main>
<app-footer></app-footer>