<main class="container">
    <section class="search">
      <h1 class="titulo">GitStatus</h1>
      <img src="assets/images-removebg-preview (1).png" alt="Github">
      <form action="#" id="search-form" [formGroup]="githubForm">
        <mat-form-field class="adficionar">
          <mat-label>Username</mat-label>
          <input type="text" matInput placeholder="Ex: frogs123" formControlName="username" #username>
        </mat-form-field>
        <button matTooltip="Procurar Usuário" [disabled]="githubForm.invalid" [routerLink]="['/home', username.value]">
          <mat-icon>search</mat-icon>
        </button>
      </form>
    </section>
  </main>


