.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  #0f637a

  }

  .search {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;

  }
button {
  background-color: #ffd900;
  text-shadow:2px 2px 0 rgb(28, 24, 24)

}

  .search img {
    margin-bottom: 8px;
  }

  #search-form {
    width: 350px;
    display: flex;
    flex-direction: column;
  }

  h1 {
    text-shadow:2px 2px 0 rgb(28, 24, 24)
  }

.titulo {
  font-size: 45px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}




